


html, body{  
  height: 100%;
  width: 100%;
  background-color: #55bbff;
}

.title {
	margin-top: 5%;
}

h1 {
	text-align: center;
}



#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 3%;
}

.box {
  background-color: #F5F8F1;
  display: inline-block;
  border: solid black 2px; 
  height: 25%;
}